<div class="">
    <div class="container">
    
        <div class="spider-main">
            <form action="">
             

            </form>

            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
             
                <a href="#" class="spider-btn spider-btn2" ng-class='statusClassIsIt(adhar.code)' target="_blank">Passportdetails   </a>
<!--                <a href="#" class="spider-btn spider-btn3" ng-class='statusClassIsIt(adhar.code)' target="_blank">cart-service </a>-->
          
                <div class="spider-img0">
                    <img class="img-responsive" src="images/passport_server.png" alt="spider"></div>
                <div class="spider"><a href="#" target="_blank">Passport Server </a></div>
                <!--                </a>-->


                <a href="#" class="spider-btn spider-btn5" ng-class='statusClassIsIt(stock.code)' target="_blank">PassportAdr </a>
<!--
                <a href="#" class="spider-btn spider-btn6" ng-class='statusClassIsIt(stock.code)' target="_blank">product-service  </a>
               
-->
            </div>
        </div>
    </div>
